@import '@/uni_modules/uni-scss/variables.scss';
@import "@/uni_modules/uview-ui/theme.scss";  
@import "@/uni_modules/uview-ui/index.scss";

@font-face {
  font-family: 'eosfont';  /* Project id 4648096 */
  src: url('//at.alicdn.com/t/c/font_4648096_guu8ekmotpg.woff2?t=1723823253223') format('woff2'),
       url('//at.alicdn.com/t/c/font_4648096_guu8ekmotpg.woff?t=1723823253223') format('woff'),
       url('//at.alicdn.com/t/c/font_4648096_guu8ekmotpg.ttf?t=1723823253223') format('truetype');
}

.eosfont {
  font-family:"eosfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.safe-navbar{
	padding-top: var(--status-bar-height);
}